
<div class="wrapper">
    <div class="admin_pannel">
        <button class="button1" (click)="addCategory()">Add New Catrgory</button>
        <button class="button1" (click)="addDish()">Add New Dish</button>
    </div>
    <div class="categories">
        <button class="category_item" (click)="filterByCategory('all')" [ngClass]="{'active_cat': currentCategory == 'all'}">All</button>
        <div class="categories_wrapper" *ngFor="let category of categories">
            <button class="category_item"  (click)="filterByCategory(category)" [ngClass]="{'active_cat': currentCategory == category}">{{category}}</button>
        </div>
    </div>
    <div class="menu">
        <ng-container *ngFor="let dish of displayedMenu">
            <div class="card" (click)="openDetails(dish)">
                <div class="card_img">
                    <img src="{{dish.imageUrl}}" alt="">
                </div>
                <div class="card_details">
                    <div class="card_details_info">
                        <div class="title">{{dish.title}}</div>
                        <div class="price">{{dish.price | currency}}</div>
                    </div>
                    <div class="card_details_description" >
                    <p>{{dish.description[0]| truncate}}</p>
                    </div>
                    <div class="card_details_ingredients">
                       <div class=""  *ngFor="let ingredients of dish.ingredients">
                        <div class="ingredients">{{ingredients}}</div>
                    </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="error" *ngIf="displayedMenu?.length === 0">
            <h1>Try agin...</h1>
        </div>
    </div>
</div>



