@import '/src/assets/styling/variables.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .admin_pannel{
        display: flex;
        justify-content: space-evenly;
        margin: 15px;
    }

    .categories{
        display: flex;
        justify-content: center;
        overflow-x: scroll;
        flex-grow: 1;

        .categories_wrapper{
            display: flex;
            justify-content: center;
            flex-direction: row;


        }

    }
    
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .card{
            border-radius: 20px;
            width: 320px;
            margin: 30px;
            overflow: hidden;
            transition: all ease .2s;
            cursor: pointer;

            &:hover{
                background-color: $color_light_blue;
            }

            .card_img{
                overflow: hidden;
                img{
                    width: 320px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            .card_details{
                margin-top: 20px;
                padding: 20px;

                .card_details_info{
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 22px;

                    .price{
                        color: $color_red;
                    }
                }

                .card_details_description{
                    p{
                        text-align: justify;
                        margin-top: 15px;
                    }
            
                }

                .card_details_ingredients{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .ingredients{
                        background-color: $color_blue;
                        margin-right: 10px;
                        margin-top: 5px;
                        padding: 5px;
                        font-size: 12px;
                        border-radius: 3px;
                    }
                }
            }


        }

        .error{
            color: $color_dark_blue;
            text-align: center;
            margin-top: 100px;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}


.category_item{
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    color: $color_dark_blue;
    border: 2px solid $color_dark_blue;
    border-radius: 5px;
    font-size: 20px;
    transition: all ease .2s;
    cursor: pointer;
    background-color: $color_white;

    &:hover{
        background-color: $color_light_blue;
    }
}

.active_cat{
    background-color: $color_light_blue;
    text-decoration: underline;
    
}