@import '/src/assets/styling/variables.scss';
:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.left {
  display: flex;
  color: $color_light_blue;

  .main_logo {
    width: 30px;
  }

  .main_logo_text {
    font-size: 30px;
    font-style: italic;
  }
}

.right {
  display: flex;
}

.header_input{
  border: none;
  background-color: $color_light_blue;
  border-radius: 15px;
  width: 250px;
  padding: 5px;
  font-size: 18px;

  &:focus{
    outline: none;
  }

  
}

@media (max-width: 560px) {
  .left {
    .main_logo_text {
      display: none;
    }
  }
}
