<a class="left" routerLink="/">
    <img class="main_logo" src="assets/icons/icons8-restaurant-50.png" alt="logo_restaurant">
    <div class="main_logo_text">Restaurant name</div>
</a>
<div class="right">
    <button (click)="setSearchTerm()">TEST</button>
    <input type="text"   [(ngModel)]="keyWord">

    <ng-container *ngIf="isAuthenticated">
        <a class="button1" routerLink="/" (click)="logOut()">Log out</a>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
        <a class="button1" routerLink="/auth/log-in">Log in</a>
        <a class="button1" routerLink="/auth/sign-up">Sign up</a>
    </ng-container>
</div>