@import '/src/assets/styling/variables.scss';

.wrapper {
  background-color: $color_dark_blue;

  .container {
    max-width: 1700px;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      flex-grow: 0;
      .main_logo_text {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        font-size: 80px;
        letter-spacing: 5px;
        margin-left: 15px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      flex-wrap: wrap;
      height: 70px;

      a {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        transition: all ease 0.2s;
        cursor: pointer;

        &:hover {
          color: $color_light_blue;
        }
      }
    }
  }
}
