
<h1 mat-dialog-title>Add new dish</h1>
<div class="mat-dialog-content" mat-dialog-content>
    <form [formGroup]="formDish" (ngSubmit)="addNewDish()">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" id="title" formControlName="title" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" id="description" formControlName="description" ></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="number" id="price" formControlName="price" >
        </mat-form-field> 
         <mat-form-field>
            <mat-label>Ingredients</mat-label>
            <input matInput type="text" id="ingredients" formControlName="ingredients" >
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select id="category" formControlName="category">
                <ng-container *ngFor="let category of (allCategories | async)" >
                    <mat-option value="{{category}}">{{category}}</mat-option>
                </ng-container>
            </mat-select>
          </mat-form-field>
        <div class="actions" mat-dialog-actions>
            <button class="button1 red" mat-dialog-close>No</button>
            <button class="button1" mat-dialog-close type="submit" [disabled]="formDish.invalid">Ok</button>
        </div>
    </form>
</div>